.jumbotron {
    min-height: 400px;
    display: flex;
    flex-direction: column;
}

.hotel-item {
    font-size: 12px;
    margin-bottom: 0;
    padding-left: 10px;
    border-bottom: 1px solid black;

    cursor: pointer;

    &.active {
        color: blue;
        background-color:yellow;
    }
}

.hotel-date-item {
    font-size: 12px;
    font-weight: bolder;
    padding-left: 10px;
    color: blueviolet;
}

.hotel-date {
    padding: 25px;
    font-size: 18px;
    color: brown;
    text-align: center;
}

.hotel-address, .hotel-stars, .hotel-anotherInfo {
    padding: 15px;
    font-size: 16px;
    color: black;

    &:hover {
        background-color: green;
    }
}

.alert {
    display: none;
    color:red;
}

form.invalid {
    input:invalid {
        border-color: rgb(221, 19, 19);
    }

    .alert {
        display: block;
        padding: 2px;
        max-width: 80%;
        text-align: center;
    }
}